*{
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
}
.voltar{
    height: 28px;
    margin: 0% 0% 0% -88%;
}
.bandeira{
    position: absolute;
    margin: -56px 0 0 70%;
    height: 80px;
    transition: 1s;
}
.bandeira:hover {
    position: absolute;
    margin: -16px 0 0 70%;
    height: 80px;
    transition: 1s;
}
h1{
    margin-top: 69px;
    text-align: center;
    color: rgb(43, 42, 42);
}
h4{
    text-align: center;
    color: rgb(43, 42, 42);
}
div{
    height: 600px;
    display: flow-root;
    margin: -73px -8px 0px -9px;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 0px 0px 10px 10px;
    background: rgb(190, 190, 236);
}
div img{
    height: 300px;
    border-radius: 20px;
}
fieldset{
    display: inline-flex;
    width: 100px;
    border-radius: 20px;
}
fieldset input{
    border-radius: 20px;
    border-style: none;
}
fieldset button{
    height: 30px;
    margin: 0px 0px 0px 20px;
    color: black;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
fieldset button:hover{
    color: white;
    background-color: rgb(75, 75, 75);
}
.inf{
    display: inline-grid;
    margin: 80px 0px;
    height: 15px;
}
.imagem {
    height: 40px;
    margin: 0px;
}
.imagem:hover {
    height: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
h6 img {
    margin: 11px -0.5% 0 0;
    height: 15px;
}
.direitos {
    font-size: 9px;
    text-align: center;
    margin: -24px 0 1% 0;
}
